h1
{
}

h3
{
}


footer
{
    text-align: center;
    margin-top: 50px;
}

p{
    margin-bottom: 50px;
}

.header-logo
{
    width: 200px;
}

#content
{
    padding-top: 100px;
}

.mainImage
{
    margin-bottom: 70px;
}

#navInfo
{
    width: 150px;
}

.indexText1
{
    text-align: center;
}

.indexText2
{
    text-align: center;
}

.margin50px
{
    margin-top: 50px;
}