h1
{
}

h3
{
}


footer
{
    text-align: center;
    margin-top: 50px;
}

p{
    margin-bottom: 50px;
}

body{
    margin: 0;
}

.header-logo
{
    width: 200px;
}

#content
{
    padding-top: 100px;
}

.mainImage
{
    margin-bottom: 70px;
}

#navInfo
{
    width: 150px;
}

.indexText1
{
    text-align: center;
}

.indexText2
{
    text-align: center;
}

.margin50px
{
    margin-top: 50px;
}

.contactUsForm
{
    box-sizing: border-box;
    width: 500px;
}

.contactUsTextArea
{
    box-sizing: border-box;
    width: 500px;
}

.lifeWithFerretImg
{
    width: 600px;
}

.center
{
    text-align: center;
}

.right
{
    text-align: right;
}

.appstoreLink
{
    transform: translateY(10%);
}